<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Artikelvorschau aus der Kategorie</label>
    <label lang="en">Article Preview from category</label>
    <label lang="fr">Afficher le produit à partir des categories</label>
    <version>1.0.0</version>
    <author>Web Loupe</author>
    <compatibility minVersion="5.2.0"/>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung Shopware Community Store</changes>
        <changes lang="en">First release Shopware Community Store</changes>
        <changes lang="fr">Première publication Shopware Community Store</changes>
    </changelog>
</plugin>